body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

.app-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

footer {
    margin-top: 20px;
    font-size: 14px;
    color: #999; /* Gris plus clair */
}
